extends ./layout/layout
block append head
	title 手机助手首页
	link(rel='stylesheet',href='css/swiper.min.css')
	link(rel='stylesheet',href='css/style.css')

block content
	header.header
		div.bg-text MADE IN YUTAO
		div.search-box
			label.logo 
			div.inner-box
				input(type='search',id='search',placeholder='大家都在搜：开心消消乐')
				button.QR 
	include ./components/swiper
	//- 热门标签
	section.hot-tab
		ul.contain
			li: a(href='javascript:;')
				div.hot-icon01
				p 礼包
			li: a(href='javascript:;')
				div.hot-icon02
				p 新游
			li: a(href='javascript:;')
				div.hot-icon03
				p 单机
			li: a(href='javascript:;')
				div.hot-icon04
				p 热门
			li: a(href='javascript:;')
				div.hot-icon05
				p 专题
	//- 装机必备
	section.module.bibei
		h2.b-title 装机必备
		div.b-content
			div.list-box
				a(href='#')
					img(src='images/pic/bibei/01.png')
				a(href='#')
					img(src='images/pic/bibei/02.png')
				a(href='#')
					img(src='images/pic/bibei/03.png')
				a(href='#')
					img(src='images/pic/bibei/04.png')
				a(href='#')
					img(src='images/pic/bibei/05.png')
			button.btn.block 一键下载
	//- 热门推荐
	section.module
		h2.b-title 热门推荐
		div.b-content
			ul.preview-list
				li.item
					dl.inner-box
						dt.preview: img(src='images/pic/apps/001.png')
						dd.description
							h3 植物大战僵尸HD版
							p.p1 64万次下载  |  117.71MB
							p.p2 新版首发，功夫僵尸来袭！
					button.btn.block 下载
				li.item
					dl.inner-box
						dt.preview: img(src='images/pic/apps/002.png')
						dd.description
							h3 京东购物
							p.p1 409万次下载  |  20.40MB
							p.p2 充话费赢1999元大奖
					button.btn.block 下载
				li.item
					dl.inner-box
						dt.preview: img(src='images/pic/apps/003.png')
						dd.description
							h3 支付宝
							p.p1 1227万次下载  |  38.79MB
							p.p2 双12，支付宝口碑随机5折！
					button.btn.block 下载
				li.item
					dl.inner-box
						dt.preview: img(src='images/pic/apps/004.png')
						dd.description
							h3 不良人
							p.p1 6.3万次下载  |  187.53MB
							p.p2 3D成人武侠RPG手游震撼来袭
					button.btn.block 下载
block script
	script(src='script/Require.js',data-main='script/index.js')
		