extends ./layout/layout
block append head
	title 手机助手首页
	link(rel='stylesheet',href='css/swiper.min.css')
	link(rel='stylesheet',href='css/style.css')

block content
	header.header
		div.search-box
			label.logo
			div.inner-box
				input(type='search',id='search',placeholder='大家都在搜：开心消消乐')
				button.QR
	include ./components/swiper
	//- 热门标签
	section.hot-tab
		ul.contain
			li: a(href='javascript:;')
				div.hot-icon01
				p 礼包
			li: a(href='javascript:;')
				div.hot-icon02
				p 新游
			li: a(href='javascript:;')
				div.hot-icon03
				p 单机
			li: a(href='javascript:;')
				div.hot-icon04
				p 热门
			li: a(href='javascript:;')
				div.hot-icon05
				p 专题
	//- 装机必备
	section.bibei(data-module='a')
		h2.a-title 装机必备
		div.a-content
			div.list-box
				a(href='#')
					img(src='images/pic/bibei/01.png')
				a(href='#')
					img(src='images/pic/bibei/02.png')
				a(href='#')
					img(src='images/pic/bibei/03.png')
				a(href='#')
					img(src='images/pic/bibei/04.png')
				a(href='#')
					img(src='images/pic/bibei/05.png')
			button.btn.block 一键下载
	//- 热门推荐
	section.recommend(data-module='a')
		h2.a-title 热门推荐
		div.a-content
			ul.preview-list
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/001.png')
						dd.description
							h3 植物大战僵尸HD版
							p.p1 64万次下载  |  117.71MB
							p.p2 新版首发，功夫僵尸来袭！
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/002.png')
						dd.description
							h3 京东购物
							p.p1 409万次下载  |  20.40MB
							p.p2(data-icon='true') 充话费赢1999元大奖
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/003.png')
						dd.description
							h3 支付宝
							p.p1 1227万次下载  |  38.79MB
							p.p2 双12，支付宝口碑随机5折！
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/004.png')
						dd.description
							h3 不良人<span class="hot">热门</span>
							p.p1 6.3万次下载  |  187.53MB
							p.p2(data-icon='true') 3D成人武侠RPG手游震撼来袭
					button.btn.block 下载
	//- P君带你飞【第26期】
	section.pjun(data-module='c')
		div.c-title
			h2 P君带你飞【第26期】
			p 由甄寰传原班人马打造的古装宫斗大戏《芈月传》终于上映由甄寰传原班人马打
		div.c-content
			div.imgbox: a(href='#')
				img(src='images/pic/banner/banner04.jpg')
	//- 热门游戏
	section.recommend(data-module='a')
		h2.a-title 热门游戏
		div.a-content
			ul.preview-list
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/005.png')
						dd.description
							h3 网易火车票
							p.p1 64万次下载  |  117.71MB
							p.p2(data-icon='true') 机票红包免费拿
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/006.png')
						dd.description
							h3 网易云音乐
							p.p1 409万次下载  |  20.40MB
							p.p2 一亿乐迷狂热推荐
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/007.png')
						dd.description
							h3 大众点评
							p.p1 1227万次下载  |  38.79MB
							p.p2 一亿乐迷狂热推荐
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/008.png')
						dd.description
							h3 神庙逃亡2<span class="hot">热门</span>
							p.p1 6.3万次下载  |  187.53MB
							p.p2 最热门的跑酷游戏
					button.btn.block 下载
	//- 经典单机游戏100款
	section.Classic(data-module='b')
		div.b-title
			h2 经典单机游戏100款
			a.more(href='javascript:;') 更多
		div.b-content
			ul.list
				li.item
					div.inner-box
						a(href='#')
							img(src='images/pic/apps/009.png')
							p 开心消消乐
						button.btn.white 下载
				li.item
					div.inner-box
						a(href='#')
							img(src='images/pic/apps/010.png')
							p PopStar!消…
						button.btn.white 下载
				li.item
					div.inner-box
						a(href='#')
							img(src='images/pic/apps/011.png')
							p 单机斗地主…
						button.btn.white 下载
				li.item
					div.inner-box
						a(href='#')
							img(src='images/pic/apps/012.png')
							p 地铁跑酷（东地铁跑酷（东
						button.btn.white 下载
	//- 热门应用
	section.recommend(data-module='a')
		h2.a-title 热门应用
		div.a-content
			ul.preview-list
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/005.png')
						dd.description
							h3 网易火车票
							p.p1 64万次下载  |  117.71MB
							p.p2(data-icon='true') 机票红包免费拿
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/006.png')
						dd.description
							h3 网易云音乐
							p.p1 409万次下载  |  20.40MB
							p.p2 一亿乐迷狂热推荐
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/007.png')
						dd.description
							h3 大众点评
							p.p1 1227万次下载  |  38.79MB
							p.p2 一亿乐迷狂热推荐
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/008.png')
						dd.description
							h3 神庙逃亡2<span class="hot">热门</span>
							p.p1 6.3万次下载  |  187.53MB
							p.p2 最热门的跑酷游戏
					button.btn.block 下载
	//- 猜你喜欢
	section.cai(data-module='b')
		div.b-title
			h2 猜你喜欢
			a.more(href='javascript:;') 换一换
		div.b-content
			ul.list
				li.item
					div.inner-box
						a(href='#')
							img(src='images/pic/apps/001.png')
							p 植物大战僵…
						button.btn 下载
				li.item
					div.inner-box
						a(href='#')
							img(src='images/pic/apps/002.png')
							p 京东购物
						button.btn 下载
				li.item
					div.inner-box
						a(href='#')
							img(src='images/pic/apps/007.png')
							p 大众点评
						button.btn 下载
				li.item
					div.inner-box
						a(href='#')
							img(src='images/pic/apps/005.png')
							p 网易火车票
						button.btn 下载
	//- 热门游戏
	section.recommend(data-module='a')
		h2.a-title 热门游戏
		div.a-content
			ul.preview-list
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/009.png')
						dd.description
							h3 开心消消乐
							p.p1 64万次下载  |  117.71MB
							p.p2 宇宙超人气三消休闲游戏
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/013.png')
						dd.description
							h3 保卫萝卜2<span class="hot">热门</span><span class="libao">礼包</span>
							p.p1 409万次下载  |  20.40MB
							p.p2 风靡中国超萌塔防游戏
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/007.png')
						dd.description
							h3 大众点评
							p.p1 1227万次下载  |  38.79MB
							p.p2 团购美食外卖电影
					button.btn.block 下载
				li.item(state='stop')
					div.jindu(style='width:0%;')
					dl.inner-box
						dt.preview: img(src='images/pic/apps/008.png')
						dd.description
							h3 神庙逃亡2<span class="hot">热门</span>
							p.p1 6.3万次下载  |  187.53MB
							p.p2 最热门的跑酷游戏
					button.btn.block 下载
	div.smile 亲，到底了
block script
	script(src='script/Require.js',data-main='script/index.js')