extends ./layout/layout
block append head
	title 手机助手首页
	link(rel='stylesheet',href='css/swiper.min.css')
	link(rel='stylesheet',href='css/style.css')
	
block content
	include ./components/swiper
block script
	script(src='script/Require.js',data-main='script/index.js')
		