@import "compass";
$rem-base:27;
$reset:true;
$Response:true;
@import "moblie-mixin";
@import "components/sprites","components/common";
html{
    background: #edf2f5;
}
body {
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: rem-calc(99);
    min-height: 100%;
}
// 搜索框
.search-box{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    max-width: 720px;
    height: rem-calc(70);
    padding: rem-calc(12 24);
    box-sizing:border-box;
    margin: 0 auto;
    .logo{
        float: left;
        width: rem-calc(70);
        height: rem-calc(70);
        border-radius: 50%;
        background: rgba(255,255,255,.5) inline-image("logo.png") no-repeat center;
        background-size: rem-calc(42 39);
    }
    .inner-box{
        margin-left: rem-calc(86);
        height: rem-calc(70);
        border-radius: rem-calc(70);
        background: rgba(255, 255, 255, .5);
    }
    [type=search]{
        height: rem-calc(70);
        width: 100%;
        box-sizing:border-box;
        padding-right: rem-calc(80);
        margin-right: rem-calc(-80);
        // background: blue;
        &::-webkit-search-decoration {
            -webkit-appearance:none;
            user-select:none;
            width:rem-calc(32);
            height: rem-calc(32);
            margin-left: rem-calc(22);
            margin-right: rem-calc(15);
            background:inline-image("magnifier.png") no-repeat;
            background-size: rem-calc(32 32);
        }
        &::-webkit-input-placeholder{
            color: rgba(255,255,255, .6);
            font-size: rem-calc(28);
        }
    }
    .QR{
        position: absolute;
        width: rem-calc(80);
        height: rem-calc(70);
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: rem-calc(16);;
            width: rem-calc(38);
            height: rem-calc(38);
            transform:translate3d(0,-50%,0);
            background: inline-image("QR.png") no-repeat;
            background-size: rem-calc(38 38);
        }
    }
}

// banner
.swiper-container {
    .swiper-slide {
        img {
            width: 100%;
            vertical-align: top;
        }
    }
    .zhezhao{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        z-index: 9;
        height: 0;
        padding-top: percentage(24/720);
        background: inline-image('zhezhao.png') no-repeat;
        background-size: 100% 100%;
        pointer-events:none;
    }
}
// hot-tab
.hot-tab{
    user-select:none;
    background: #fff;
    .contain{
        display: flex;
        justify-content: space-around;
        padding: rem-calc(15 0);
        text-align: center;
        li{
            width: percentage(1/5);
        }
        div{
            margin: 0 auto;
        }
        p{
            font-size: rem-calc(24);
            margin-top: rem-calc(5);
            color: #999;
        }
    }
}
.module{
    margin-top: rem-calc(20);
    background: #fff;
    .title{
        padding: rem-calc(25 30);
        font-size: rem-calc(28);
        color: #999;
    }
    .content{
        padding: rem-calc(0 30);
    }
    .btn{
        font-size: rem-calc(24);
        height: rem-calc(48);
        line-height: rem-calc(48);
        white-space: nowrap;
    }
    .block{
        padding: rem-calc(0 25);
        border:1px solid #79d8b1;
        border-radius: rem-calc(48);
    }
}
// 装机必备
section.bibei{
    .content{
        display: flex;
        padding-bottom: rem-calc(30);
        justify-content: space-between;
        align-items:center;
    }
    .list-box{
        display: flex;
        a{
            display: inline-block;
            margin-right: rem-calc(20);
            &:last-of-type{
                margin-right: 0;
            }
        }
        img{
            width: rem-calc(58);
            height: rem-calc(58);
        }
    }
    .btn{
        color: #79d8b1;
        &:active{
            background: #79d8b1;
            color: #fff;
        }
    }
}
// 底部操作栏
@import "components/footer";



