extends ../layout/layout
append head
	title test1
block content
	p 我是好人
	ul
		li: a(href="#") 哈哈
		li: span 呵呵
		li: div: span hehh
		li
			div: <span>hehh</span><span>kk</span>			
	//- :markdown
	//- 	我们是_好人_**hhe**
	//- 	[链接](http://www.baidu.com)
		



	//- each
	- var items = ["one", "two", "three"]
	ul
		each item in items
			li= item + "我是好人"



block script
	script(src="")