doctype html
<!--[if IE 6]><html class='ie6'><![end if]-->
<!--[if IE 7]><html class='ie7'><![end if]-->
<!--[if IE 8]><html class='ie8'><![end if]-->
<!--[if IE 9]><html class='ie9'><![end if]-->
<!--[if !IE]><!--><html><!--<![end if]-->
head
	include ../components/head
	include ../components/hotcss
body
	div.wrapper
		include ../components/header
		block content
		include ../components/footer
	block script
</html>