$designWidth: 750 !default;
$modules: () !default;
@mixin exports($name) {
    @if (index($modules, $name)==null) {
        $modules: append($modules, $name) !global;
        @content;
    }
}

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}


@function px2rem($px, $base-value:$designWidth) {
    @return strip-unit($px)*320/strip-unit($base-value)/20 + rem;
}

@function rem-calc($values, $base-value:$designWidth) {
    $max: length($values);
    @if $max==1 {
        @return px2rem(nth($values, 1), $base-value);
    }
    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, px2rem(nth($values, $i), $base-value));
    }
    @return $remValues;
}
